.main-container {
    position: fixed;
    z-index: -9;
    box-sizing: border-box;
    width: 85vw;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    bottom: 1%;
}

.co {
    color: orange;
}

.co_text {
    font-size: 1.2rem;
}

.figure {
    margin: 5rem auto;
}

.figure figcaption {
    color: orange;
    margin: 0.5rem auto;
}

.skills {
    margin: 1.5rem auto;
    font-size: 1.3rem;
}

.desc {
    font-size: 1.1rem;
    line-height: 25px;
    margin: 1.8rem auto;
}

.intro h1 {
    font-size: 2.9rem;
}

.del {
    text-decoration: 3px line-through orange;
}

.co_und {
    text-decoration: 3px underline orange;
    color: #fff;
}