.main-container {
    position: fixed;
    box-sizing: border-box;
    width: 85vw;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    bottom: 1%;
    overflow: hidden;
}

.co {
    color: orange;
}

.co_text {
    font-size: 1.2rem;
}

.figure {
    margin: 5rem auto;
}

.figure figcaption {
    color: orange;
    margin: 0.5rem auto;
}

.skills {
    margin: 1.5rem auto;
    font-size: 1.3rem;
}

.desc {
    font-size: 1.1rem;
    line-height: 25px;
    margin: 1.8rem auto;
}

.intro {
    width: 45vw;
    height: auto;
}

.intro h1 {
    font-size: 2.9rem;
}

.del {
    text-decoration: 3px line-through orange;
}

.co_und {
    text-decoration: 3px underline orange;
    color: #fff;
}

@media screen and (max-width:1200px) {
    .main-container {
        bottom: 1.2%;
    }
    .intro h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width:1000px) {
    .main-container {
        width: 78vw;
        display: table;
        top: 10%;
        vertical-align: middle;
        bottom: 0;
    }
    .intro {
        width: auto;
        height: 86vh;
        overflow: scroll;
    }
    .intro h1 {
        font-size: 2.7rem;
    }
    .video {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .main-container {
        width: 78vw;
        display: block;
    }
    .intro {
        width: 95%;
    }
    .intro h1 {
        font-size: 2.7rem;
    }
    .video {
        display: none;
    }
}