.pro_container {
    width: 90vw;
    height: 88vh;
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
    overflow: scroll;
    position: fixed;
    top: 11%;
    right: 0;
    left: 0;
    text-align: center;
}

.p_container {
    display: inline-block;
    width: 30%;
    margin: 8px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #101010;
    border-radius: 10px;
    border: 3px solid #000;
    overflow: hidden;
}

.p_container .image_pro {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.p_container .image_pro::after {
    content: "" attr(data-desc) "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    padding: 0 10px;
    box-sizing: border-box;
    color: #ffa500;
}

.p_container .image_pro:hover::after {
    height: 100%;
    opacity: 1;
}

.btn {
    background-color: #ffa500;
    border: none;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'Varela Round', cursive;
    font-size: 0.9rem;
    cursor: none;
}

.btn:hover {
    opacity: 0.9;
    font-weight: bold;
}

.p_container .detail p {
    padding: 8px;
}

.btn-see {
    display: block;
    text-align: center;
    padding: 8px;
}

img {
    border-radius: 5px;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .pro_container {
        width: 100vw;
    }
}

@media screen and (max-width: 1000px) {
    .pro_container {
        height: 86vh;
        padding-bottom: 30px;
    }

    .p_container {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .p_container {
        width: 90%;
    }
}