.ser_container {
    display: inline-block;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #101010;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #000;
    overflow: hidden;
}