    .navbar {
        box-sizing: border-box;
        padding: 20px 0;
        position: fixed;
        background-color: #141414;
        height: 60px;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 1;
        left: 2%;
        right: 2%;
        top: 2%;
        width: 97%;
    }
    
    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    li {
        display: inline-block;
    }
    
    li a {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
    }
    
    .code {
        color: orange;
        visibility: hidden;
    }
    
    li a:hover .code {
        visibility: visible;
    }
    
    .logo {
        filter: invert(100%);
        position: fixed;
        left: 7.3%;
        top: 3%;
    }
    
    .active .code {
        visibility: visible;
    }
    
    @media screen and (max-width:1200px) {
        .navbar {
            width: 95%;
        }
    }
    
    @media screen and (max-width:450px) {
        .navbar {
            width: 94%;
            left: 3%;
        }
        .logo {
            display: none;
        }
    }