.container_side {
    position: fixed;
    right: 3rem;
    height: 78vh;
    display: flex;
    justify-content: space-between;
}

.a {
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.ul {
    display: flex;
    flex-direction: column;
}